    <!--	<br>
    Todo:
    include google fonts with different sizes and styles
    Add css code that one can copy and paste
    Save as PDF
    Save in firebase database and u can edit again later-->

    <br>

    <br/>

    <!--	<div ng-repeat="a in allStyles">
    &lt;!&ndash;		<ul>
                <li>{{a| json}} <button class="delete" ng-click="deleteItem(a)">Delete </button></li>
            </ul>&ndash;&gt;

        </div>-->



        <div class="row">
            <div class="col-xs-12">
                <h1>{{n.projectname}} Style Guide Worksheet</h1><br>




                <!-- ADD NEW PROJECT-->
                <div ng-show="addnewproject">
                    <label for="newcssprojectname">Project Name</label>
                    <input id="newcssprojectname" ng-model="n.projectname" class="form-control"  ng-hide="editprojectname=false">
                    <br>

                </div>

                <button ng-click="editprojectname!=editprojectname" ng-hide="editprojectname=true" class="btn btn-success">Edit Project Name</button>
                <br/><br/>
                <button ng-click="resetType()" class="btn btn-danger">Reset All</button>
                <br/><br/>
                <p id="saveStatus"></p><p>After you save the projectname, any change you make to this projectname will be automatically saved.</p>
                <br/><br/>
            </div>
        </div>
        <!-- COLOR -->
        <div class="row">
            <div class="col-xs-12">
                <h2> Colors </h2>
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-6 col-md-3">
                <div class="name-of-item">
                    <h4>Primary Color</h4>
                </div>
                <br>
                <input class="color form-control"  ng-model="n.colors.color1.colorHex">
                <br><br>
                <div class="colorbox" style="background-color:#{{n.colors.color1.colorHex}}"></div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="name-of-item">
                    <h4>Secondary Color</h4>
                </div>
                <br>
                <input class="color form-control"  ng-model="n.colors.color2.colorHex">
                <br><br>
                <div class="colorbox" style="background-color:#{{n.colors.color2.colorHex}}"></div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="name-of-item">
                    <h4>Tertiary Color</h4>
                </div>
                <br>
                <input class="color form-control" ng-model="n.colors.color3.colorHex">
                <br><br>
                <div class="colorbox" style="background-color:#{{n.colors.color3.colorHex}}"></div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="name-of-item">
                    <h4>Fourth Color</h4>
                </div>
                <br>
                <input class="color form-control"  ng-model="n.colors.color3.colorHex">
                <br><br>
                <div class="colorbox" style="background-color:#{{n.colors.color3.colorHex}}"></div>
            </div>
        </div> <!--/row-->

        <!-- TYPOGRAPHY -->
        <div class="row">
            <div class="col-xs-12">
                <h2>Typography</h2>
            </div>
        </div>

        <div class="row">
            <div ng-repeat="t in n.tags">
                <div class="col-md-6 col-lg-4">
                    <div class="name-of-item">
                        <h4><span class="yellow">{{t.name}}</span> &nbsp; Sample</h4>
                    </div>
                    <div class="sample-box" style="text-align: {{t.textalign}};  background-color: #{{previewbackgroundcolor}};">
                        <span ng-hide="edit" style="color:#{{t.fontcolor}}; font: {{t.font}}; font-family: {{t.fontfamily}}, {{t.fontbackup}}; font-style:{{t.fontstyle}}; font-weight:{{t.fontweight}}; font-size:{{t.size}}; margin:{{t.margin}}">{{t.examplename}}</span>
                        <!--<textarea class="form-control" rows="5" id="edit-sampletext" ng-model="t.examplename"></textarea>-->
                        <input type="text" ng-show="edit" class="form-control form-inline" ng-model="t.examplename">
                    </div>
                    <br><br>
                    <div class="edit-type">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <button ng-click="edit=true" ng-hide="edit" class="btn btn-gray">Edit Sample Text</button>
                                <!--<input type="text" ng-show="edit" class="form-control form-inline" ng-model="t.examplename">-->
                                <button ng-show="edit"  ng-click="edit=false" type="submit" class="btn btn-gray">Save New Sample Text</button>
                            </div>
                            <div class="form-group">
                                <label for="newfontcolor" class="col-sm-4 control-label">Font Color</label>
                                <div class="col-sm-8">
                                    <input class="color form-control" id="newfontcolor" ng-model="t.fontcolor">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newfontfamily" class="col-sm-4 control-label">Font Family</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="newfontfamily" placeholder="Font" ng-model="t.fontfamily">
                                    <a href="https://www.google.com/fonts#" target="_blank" class="btn btn-gray"><i class="fa fa-search"></i> Search</a>
                                    <input type="submit" ng-click="addNewFont(t.fontfamily)" value="Add Font" class="btn btn-gray">

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newfontbackup" class="col-sm-4 control-label">Font Backup</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="newfontbackup" ng-model="t.fontbackup">
                                        <option value="sans-serif">sans-serif</option>
                                        <option value="serif">serif</option>
                                        <option value="cursive">cursive</option>
                                        <option value="fantasy">fantasy</option>
                                        <option value="monospace">monospace</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newfont" class="col-sm-4 control-label">Font</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="newfont" placeholder="Font" ng-model="t.font">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newfontweight" class="col-sm-4 control-label">Font Weight</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="newfontweight" ng-model="t.fontweight">
                                        <option value="normal">normal</option>
                                        <option value="bold">bold</option>
                                        <option value="bolder">bolder</option>
                                        <option value="lighter">lighter</option>
                                        <option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="300">300</option>
                                        <option value="400">400</option>
                                        <option value="500">500</option>
                                        <option value="600">600</option>
                                        <option value="700">700</option>
                                        <option value="800">800</option>
                                        <option value="900">900</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newfontstyle" class="col-sm-4 control-label">Font Style</label>
                                <div class="col-sm-8">
                                    <select ng-model="t.fontstyle" class="form-control" id="newfontstyle">
                                        <option value="normal">normal</option>
                                        <option value="italic">italic</option>
                                        <option value="oblique">oblique</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newtextalign" class="col-sm-4 control-label">Text Align</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="newtextalign" ng-model="t.textalign">
                                        <option value="left">left</option>
                                        <option value="right">right</option>
                                        <option value="center">center</option>
                                        <option value="justify">justify</option>
                                        <option value="initial">initial</option>
                                        <option value="inherit">inherit</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newfontsize" class="col-sm-4 control-label">Font Size</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="newfontsize" placeholder="Font Size (px, em) - Ex:30px" ng-model="t.size">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newtypemargin" class="col-sm-4 control-label">Margin (T,R,B,L)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="newtypemargin" placeholder="Margin ex: 5px 5px 10px 10px" ng-model="t.margin">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newbackground-preview" class="col-sm-4 control-label">Preview with Background Color</label>
                                <div class="col-sm-8">
                                    <select id="newbackground-preview" class="form-control" ng-model="t.bkgdpreview">

                                        <option value="{{n.colors.color1.colorHex}}">Primary Color</option>
                                        <option value="{{n.colors.color2.colorHex}}">Secondary Color</option>
                                        <option value="{{n.colors.color3.colorHex}}">Tertiary Color</option>
                                        <option value="{{n.colors.color4.colorHex}}">Fourth Color</option>
                                    </select>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="submit" class="btn btn-success btn-lg" ng-click="addItem()"/>
            </div>
        </div>

        <!-- CODE TO COPY-->
        <div class="row">
            <div class="col-xs-12">
                <h2>CSS Code</h2>
            </div>
            <div class="col-xs-12 col-md-8">
			<pre>
				<p>Jennifer says hello</p><br>
  				<code class="css-code">
                    <p>Jennifer says hello</p>
                </code>
			</pre>
            </div>
        </div>

